<html>
<head>
  <meta charset="UTF-8">
  <title>Plex Movie vs Movie (EJS)</title>
</head>
<body>
  <h1>Plex Movie vs Movie</h1>
  <div id="root"></div>

  <script src="build/bundle.js"></script>

</body>
</html>